.development-watermark {
  color: #f00a;
  font-family: var(--main-font);
  font-weight: 500;
  position: absolute;
  z-index: 99999999;
  pointer-events: none;
  user-select: none;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: .3rem;
}
