@use 'menu-root';
@use 'menu-common';

$debug: false;

@if ($debug) {
  .menu-container > * {
    outline: #f00 solid 2px;
  }
}

.menu-container {
  @if ($debug) {
    background-color: #111;
  }
  $base-font-size: 3;
  // Aspect ratio
  $width: 4;
  $height: 3;
  // We can use these to force the aspect ratio of the menu to be 4:3
  width: 100vw;
  height: ($height / $width) * 100 + 0vw;
  max-height: 100vh;
  max-width: ($width / $height) * 100 + 0vh;

  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0; // Center vertically
  left: 0;
  right: 0; // Center horizontally

  color: #fff;

  @media (min-aspect-ratio: #{$width}/#{$height}) {
    font-size: $base-font-size + 0vh;
  }
  @media (max-aspect-ratio: #{$width}/#{$height}) {
    font-size: $base-font-size * ($height / $width) + 0vw;
    // The logic behind this math is to make the font size consistent
    // with the container's width and height
  }
}

