.root-menu-branding {
  position: absolute;
  left: 2em;
  width: 7em;
  height: 8em;
  background-image: url("../res/img/brand/white-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
